
.order-history {
    margin: 2rem 0;
  
    .table-responsive {
      margin-bottom: 2rem;
    }
  
    .approve-btn {
      background-color: #28a745;
      border-color: #28a745;
    }
  
    .cancel-btn {
      background-color: #dc3545;
      border-color: #dc3545;
    }
  }
  